.wrapper{
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: 200px;
    width: calc(100% - 200px);
    transition: all 0.3s ease;
}
.search__wrapper{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 32px;
    max-width: 1070px;
    margin: 0 auto;
    height: 100%;
}
.search__input--wrapper {
  position: relative;
  gap: 8px;
}
.search__input--wrapper,
.search {
  display: flex;
  align-items: center;
  width: 100%;
}
.search__content {
  display: flex;
  align-items: center;
  gap: 24px;
  width: 100%;
  max-width: 340px;
}
.search__icon {
  display: flex;
  align-items: center;
  position: absolute;
  height: 100%;
  right: 8px;
  justify-content: flex-end;
  border-left: 2px solid #e1e7ea;
  padding-left: 8px;
}
.search__input {
  height: 40px;
  outline: none;
  width: 100%;
  color: #042330;
  padding: 0px 16px;
  border: 2px solid #e1e7ea;
  border-radius: 8px;
  background-color: #f1f6f4;
}
.search__icon--svg {
  width: 24px;
  height: 24px;
  color: #042330;
}
