.wrapper{
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: 200px;
    width: calc(100% - 200px);
    transition: all 0.3s ease;
}

/* SEARCH BAR STYLES */
.search__wrapper{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 32px;
    max-width: 1070px;
    margin: 0 auto;
    height: 100%;
}
.search__input--wrapper {
  position: relative;
  gap: 8px;
}
.search__input--wrapper,
.search {
  display: flex;
  align-items: center;
  width: 100%;
}
.search__content {
  display: flex;
  align-items: center;
  gap: 24px;
  width: 100%;
  max-width: 340px;
}
.search__icon {
  display: flex;
  align-items: center;
  position: absolute;
  height: 100%;
  right: 8px;
  justify-content: flex-end;
  border-left: 2px solid #e1e7ea;
  padding-left: 8px;
}
.search__input {
  height: 40px;
  outline: none;
  width: 100%;
  color: #042330;
  padding: 0px 16px;
  border: 2px solid #e1e7ea;
  border-radius: 8px;
  background-color: #f1f6f4;
}
.search__icon--svg {
  width: 24px;
  height: 24px;
  color: #042330;
}

/* SELECTED BOOK STYLES */

.for-you__title{
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 16px;
  color: #032b41;
}
.selected__book{
  display: flex;
  justify-content: space-between;
  width: calc((100% / 3) * 2);
  background-color: #fbefd6;
  border-radius: 4px;
  padding: 24px;
  margin-bottom: 24px;
  gap: 24px;
}
.selected__book--subtitle{
  color: #032b41;
  width: 40%;
}
.selected__book--divider{
  width: 1px;
  background-color: #bac8ce;
}
.selected__book--content{
  display: flex;
  gap: 16px;
  width: 60%;
}
.book__image--wrapper{
width: 172px;
height: 172px;
}
.selected__book--details{
  width: 100%;
}
.selected__book--title{
  font-weight: 600;
  color: #032b41;
  margin-bottom: 8px;
}
.selected__book--author{
  color: #394547;
  margin-bottom: 16px;
  font-size: 14px;
}
.selected__book--duration-wrapper{
  display: flex;
  align-items: center;
  gap: 8px;
}
.selected__book--duration{
  color: #032b41;
  font-size: 14px;
  font-weight: 500;
}
.selected__book--play-button{
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 16px;
  background-color: #032b41;
  color: #fff;
  border-radius: 9999px;
  width: 40px;
  height: 40px;
  min-width: 40px;
}
.for-you__recommended--books{
  display: flex;
  overflow-x: auto;
  gap: 16px;
  scroll-snap-type: x mandatory;
  margin-bottom: 32px;
}
