.inner__wrapper {
    display: flex;
    gap: 16px;
}
.inner__book {
    width: 100%;
}
.inner-book__title, .inner-book__author {
    color: #032b41;
    margin-bottom: 16px;
    font-weight: 600;
}
.inner-book__title {
    font-size: 32px;
}
.inner-book__subtitle {
    font-size: 20px;
    color: #032b41;
    margin-bottom: 16px;
    font-weight: 300;
}
.inner-book__wrapper {
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    padding: 16px 0;
    margin-bottom: 24px;
}
.inner-book__description--wrapper {
    display: flex;
    flex-wrap: wrap;
    max-width: 400px;
    row-gap: 12px;
}
.inner-book__description {
    display: flex;
    align-items: center;
    width: 50%;
    color: #032b41;
    font-weight: 500;
    font-size: 14px;
}
.inner-book__icon {
    display: flex;
    height: 24px;
    width: 24px;
    margin-right: 4px;
}
.inner-book__read--btn-wrapper {
    display: flex;
    gap: 16px;
    margin-bottom: 24px;
}
.inner-book__read--btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 144px;
    height: 48px;
    background-color: #032b41;
    color: #fff;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    gap: 8px;
    transition: opacity 0.3s ease;
}
.inner-book__read--btn:hover {
    opacity: 0.8;
}
.inner-book__read--btn:active {
    opacity: 0.6;
    transform: translateY(1px);
}
.inner-book__bookmark {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #0365f2;
    font-weight: 500;
    cursor: pointer;
    margin-bottom: 40px;
    font-size: 18px;
    transition: color 0.3s ease;
}
.inner-book__bookmark:hover {
    color: #024a9b;
}
.inner-book__secondary--title {
    font-size: 18px;
    color: #032b41;
    margin-bottom: 16px;
    font-weight: 600;
}
.inner-book__tags--wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-bottom: 16px;
}
.inner-book__tag {
    background-color: #f1f6f4;
    padding: 0 16px;
    height: 48px;
    display: flex;
    align-items: center;
    cursor: not-allowed;
    color: #032b41;
    font-weight: 500;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}
.inner-book__tag:hover {
    background-color: #e0e0e0;
}
.inner-book__book--description {
    color: #032b41;
    margin-bottom: 16px;
    line-height: 1.5;
}